@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.component {
  padding: var(--padding-component);
  background-color: var(--hh-c-brown-light);
  margin: 10px;
  border-radius: var(--border-radius-main);
  overflow-y: scroll;
  max-height: 100vh;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.h2 {
  font-size: var(--font-size-h2);
}
.h3 {
  font-size: var(--font-size-h3);
}
.h4 {
  font-size: var(--font-size-h4);
}
.bold {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
